/* styles.css */

body {
    background-color: rgb(29, 189, 194); /* Couleur de fond pastel */
}

.card {
    background-color: #f8eded; /* Fond des cartes en blanc */
}

.card-title {
    color: #333; /* Couleur du texte pour le titre */
}

.card-text {
    color: #666; /* Couleur du texte pour le poste */
}

.card-img-top {
    width: 100%; /* ou la largeur que vous voulez */
    height: 200px; /* ou la hauteur que vous voulez */
    object-fit: cover; /* cela permet de garder les proportions de l'image */
}

.btn-primary {
    background-color: #87bdd8; /* Couleur de fond du bouton */
    border-color: #87bdd8; /* Couleur de la bordure du bouton */
}

.btn-primary:hover {
    background-color: #5c99b3; /* Couleur de fond du bouton au survol */
    border-color: #5c99b3; /* Couleur de la bordure du bouton au survol */
}
